@model DemoEfcoreSon.Models.Shop

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create shop</h2>
<br>
<form method="post" asp-controller="Home" asp-action="Create">
    <div class="form-group">
        <label asp-for="ShopName"></label>
        <input type="text" class="form-control" asp-for="ShopName">
        <span class="text-danger" asp-validation-for="ShopName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input type="text" class="form-control" asp-for="Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>